<% product.master.variant_container_taxons.active.each_with_index do |vct, vct_index| %>
  <tr class="<%= odd_or_even?(product_i) %>">

    <% if product.images.any? %>
      <td><%= link_to image_tag(product.images.first.attachment.url(:mini)), product.images.first.attachment.url(:product)%></td>
    <% else %>
      <td></td>
    <% end %>

    <td><%= vct.container_taxon.name %></td>
    <td><%= product.sku %></td>
    <td><%= product.name %></td>
    <td></td>
    <td><%= vct.quantity %></td>

    <td id="restocking_<%= product.master.id %>_<%= vct.container_taxon_id %>">
      <%= button_link_to t(:restock), admin_restocking_path(product.master, :container_taxon_id => vct.container_taxon_id),  { :id => product.master.id, :icon => 'switch', :remote => true } %>
    </td>

    <td id="destocking_<%= product.master.id %>_<%= vct.container_taxon_id %>">
      <%= button_link_to t(:destock), admin_destocking_path(product.master, :container_taxon_id => vct.container_taxon_id), { :id => product.master.id, :icon => 'switch', :remote => true } %>
    </td>
    
  </tr>
<% end %>