<%= render :partial => 'spree/admin/shared/stock_sub_menu' %>

<div data-hook="admin_destocked_items_index">
  <h1><%= t(:destocked_items_list) %></h1>
</div>

<table id="destocked_items_table" class="index">
  <tr>
    <th><%= sort_link @search, :container_taxon_name, t(:container_taxon) %></th>
    <th><%= sort_link @search, :quantity, t(:quantity) %></th>
  	<th><%= sort_link @search, :variant_sku, t(:sku) %></th>
    <th><%= sort_link @search, :variant_product_name, t(:product) %></th>
	  <th><%= t(:variant)%></th>
    <th><%= sort_link @search, :variant_count_on_hand, t(:on_hand) %></th>
	  <th><%= t(:destocked_at) %></th>
	  <th><%= sort_link @search, :created_at, t(:destocked_before) %></th>
  </tr>
  <% unless @destocked_items.nil? %>
    <% @destocked_items.each do |di| %>
      <tr>
	      <% unless di.container_taxon.nil? %>
	        <td><%= di.container_taxon.name %></td>
	      <% else %>
	        <td><%= t(:no_container_taxons) %></td>
	      <% end %>
	      
        <td><%= di.quantity %></td>
	      <td><%= di.variant.sku %></td>
	      <td><%= di.variant.product.name %></td>
	      <td><%= di.variant.name %></td>
        <td><%= di.variant.count_on_hand %></td>
        <td><%= di.created_at %></td>
        <td><%= time_ago_in_words(di.created_at) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= paginate @destocked_items %>

<% content_for :sidebar do %>
  <div class="box" data-hook="admin_destocked_items_index_search">
    <h3><%= t(:search) %></h3>

    <%= form_for [:admin, @search], :url => admin_destocked_items_path, :html => { :method => :get } do |f| %>
      <p>
        <%= f.label :variant_product_name_contains, t(:product_name) %><br />
        <%= f.text_field :variant_product_name_contains, :size => 18 %>
      </p>

      <p>
        <%= f.label :variant_sku_contains, t(:sku) %><br />
        <%= f.text_field :variant_sku_contains, :size => 15 %>
      </p>
      <p>
        <%= f.label :container_taxon_name_contains, t(:container_taxon) %><br />
        <%= f.text_field :container_taxon_name_contains, :size => 15 %>
      </p>

      <div data-hook="admin_destocked_items_index_search_buttons">
        <p><%= button t(:search) %></p>
      </div>
    <% end %>
  </div>
<% end %>