<%= render :partial => 'spree/admin/shared/stock_sub_menu' %>

<div data-hook="admin_stock_index">
  <h1><%= t(:stock) %> (<%= @products.count %> <%= t(:products)%>)</h1>
</div>


<table id="stock" class="index">
  <tr>
  	<th><%= t(:container_taxon) %></th>
  	<th><%= t(:sku) %></th>
    <th><%= t(:product) %></th>
	  <th><%= t(:variant)%></th>
    <th><%= t(:on_hand)%></th>
	  <th></th>
	  <th></th>
  </tr>

  <% @products.each do |product| %>
	  <% if product.has_variants?  %>
	    <% product.variants.each_with_index do |variant, variant_index| %>
	      <% if variant.container_taxons.count > 0  %>
	        <% variant.container_taxons.each do |ct| %>
	          <tr>
	      	    <td><%= ct.name %></td>
	            <td><%= variant.sku %></td>
	            <td></td>
	            <td><%= variant.name %></td>
              <td><%= variant.count_on_hand %></td>
	            <td id="restocking_<%= variant.id %>"><%= button_link_to t(:restock), admin_restocking_path(variant),  { :id => variant.id, :icon => 'switch', :remote => true } %></td>
	            <td id="destocking_<%= variant.id %>"><%= button_link_to t(:destock), admin_destocking_path(variant),  { :id => variant.id, :icon => 'switch', :remote => true } %></td>
	          </tr>
	        <% end %>
	      <% else %>
	        <tr>
	      	  <td><%= t(:no_container_taxons) %></td>
	          <td><%= variant.sku %></td>
	          <% if variant_index == 0 %>
	            <td><%= variant.product.name %><i> (<%= product.variants.count %><%= t(:variants) %>)</i></td>
	          <% else %>
	            <td></td>
	          <% end %>
	          <td><%= variant.name %></td>
            <td><%= variant.count_on_hand %></td>
	          <td id="restocking_<%= variant.id %>"><%= button_link_to t(:restock), admin_restocking_path(variant),  { :id => variant.id, :icon => 'switch', :remote => true } %></td>
	          <td id="destocking_<%= variant.id %>"><%= button_link_to t(:destock), admin_destocking_path(variant),  { :id => variant.id, :icon => 'switch', :remote => true } %></td>
	        </tr>

	      <% end %>
	    <% end %>
	  <% else %>
	    <tr>
	  	  <td><%= t(:no_container_taxons) %></td>
	      <td><%= product.sku %></td>
	      <td><%= product.name  %></td>
	      <td><%= product.master.name %><i> (<%= t(:master)%>)</i></td>
	      <td><%= product.master.count_on_hand %></td>
	      <td id="restocking_<%= product.master.id %>"><%= button_link_to t(:restock), admin_restocking_path(product.master), { :id => product.master.id, :icon => 'switch', :remote => true } %></td>
	      <td id="destocking_<%= product.master.id %>"><%= button_link_to t(:destock), admin_destocking_path(product.master), { :id => product.master.id, :icon => 'switch', :remote => true } %></td>
	    </tr>
	  <% end %>
  <% end %>
</table>





