<%= render :partial => 'spree/admin/shared/stock_sub_menu' %>

<div id="new_stock"  data-hook="toolbar">
  <%= button_link_to t(:new_stock), admin_new_stock_path, { :id => 'new_stock_link', :icon => 'add', :remote => true } %>
</div>
<br />
<br />

<div id="accordion" class="index">
  <% @products.each_with_index do |product, product_i| %>
    <h3><%= product.name %></h3>
    <div><%= render :partial => 'variants', :locals => { :product => product, :product_i => product_i } %></div>
  <% end %>
</div>

<%= paginate @products %>


<% content_for :sidebar do %>
  <div class="box" data-hook="admin_stock_index_search">
    <h3><%= t(:search) %></h3>

    <%= form_for [:admin, @search], :url => admin_stock_path, :html => { :method => :get } do |f| %>
      <p>
        <%= f.label :name_cont, t(:product_name) %><br />
        <%= f.text_field :name_cont, :size => 18 %>
      </p>

      <p>
        <%= f.label :variants_including_master_sku_cont, t(:sku) %><br />
        <%= f.text_field :variants_including_master_sku_cont, :size => 15 %>
      </p>
      <p>
        <%= f.label :variants_including_master_container_taxons_name_cont, t(:container_taxon) %><br />
        <%= f.text_field :variants_including_master_container_taxons_name_cont, :size => 15 %>
      </p>

      <div data-hook="admin_stock_index_search_buttons">
        <p><%= button t(:search) %></p>
      </div>
    <% end %>
  </div>
<% end %>

<%= javascript_include_tag "admin/stock.js" %>