<%= render :partial => 'spree/admin/shared/stock_sub_menu' %>

<div data-hook="admin_restocked_items_index">
  <h1><%= t(:restocked_items_list) %></h1>
</div>

<table id="restocked_items_table" class="index">
  <tr>
    <th><%= sort_link @search, :container_taxon_name, t(:container_taxon), { :default_order => "asc" }, { :title => 'admin_restocked_items_container_taxon' } %></th>
    <th><%= sort_link @search, :quantity, t(:quantity), { :default_order => "asc" }, { :title => 'admin_restocked_items_quantity' } %></th>
    <th><%= sort_link @search, :variant_sku, t(:sku), { :default_order => "asc" }, { :title => 'admin_restocked_items_sku' } %></th>
    <th><%= sort_link @search, :variant_product_name, t(:product), { :default_order => "asc" }, { :title => 'admin_restocked_items_product_name' } %></th>
	  <th><%= t(:variant)%></th>
    <th><%= sort_link @search, :variant_count_on_hand, t(:on_hand), { :default_order => "asc" }, { :title => 'admin_restocked_items_on_hand' } %></th>
    <th><%= t(:restocked_at) %></th>
    <th><%= sort_link @search, :created_at, t(:restocked_before), { :default_order => "asc" }, { :title => 'admin_restocked_items_restocked_before' } %></th>
	  <th></th>
  </tr>
  <% unless @restocked_items.nil? %>
    <% @restocked_items.each do |ri| %>
      <tr>
	      <td><%= ri.container_taxon.name %></td>
	      <td><%= ri.quantity %></td>
	      <td><%= ri.variant.sku %></td>
	      <td><%= ri.variant.product.name %></td>
	      <td><%= ri.variant.name %></td>
        <td><%= ri.variant.count_on_hand %></td>
        <td><%= ri.created_at %></td>
        <td><%= time_ago_in_words(ri.created_at) %></td>
        <td></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= paginate @restocked_items %>

<% content_for :sidebar do %>
  <div class="box" data-hook="admin_restocked_items_index_search">
    <h3><%= t(:search) %></h3>

    <%= form_for [:admin, @search], :url => admin_restocked_items_path, :html => { :method => :get } do |f| %>
      <p>
        <%= f.label :variant_product_name_contains, t(:product_name) %><br />
        <%= f.text_field :variant_product_name_contains, :size => 18 %>
      </p>

      <p>
        <%= f.label :variant_sku_contains, t(:sku) %><br />
        <%= f.text_field :variant_sku_contains, :size => 15 %>
      </p>
      <p>
        <%= f.label :container_taxon_name_contains, t(:container_taxon) %><br />
        <%= f.text_field :container_taxon_name_contains, :size => 15 %>
      </p>

      <div data-hook="admin_restocked_items_index_search_buttons">
        <p><%= button t(:search) %></p>
      </div>
    <% end %>
  </div>
<% end %>