<fieldset id="supplier" data-hook>

  <legend><%= t('supplier.name') %></legend>

  <%= f.field_container :name do %>
    <%= f.label :name, t(:name) %><span class="required">*</span><br />
    <%= f.text_field :name , :class => 'required' %>
    <%= error_message_on :supplier, :name %>
  <% end %>

  <%= f.field_container :company do %>
    <%= f.label :company, t(:company) %><span class="required">*</span><br />
    <%= f.text_field :company, :class => 'required' %>
    <%= error_message_on :supplier, :company %>
  <% end %>

</fieldset>

<%= render :partial => "address", :locals => { :f => f } %>