<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <p><%= button_link_to t(:new_destocking_reason), new_object_url, :icon => 'add', :id => 'admin_new_destocking_reason_link' %></p>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t(:destocking_reasons_list) %></h1>
<table class="index" id='destocking_reasons_list' data-hook>
  <thead>
    <tr data-hook="destocking_reason_header">
      <th><%= t(:name) %></th>
      <th><%= t(:description) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @destocking_reasons.each do |reason|
      @edit_url = edit_admin_destocking_reason_path(reason)
      @delete_url = admin_destocking_reason_path(reason)
    %>
      <tr id="<%= reason %>" data-hook="destocking_reason_row">
        <td><%= reason.name %></td>
        <td><%= reason.description %></td>

        <td class="actions">
          <%= link_to_edit reason, :class => 'edit' %> &nbsp;
          <%= link_to_delete reason %>
      </tr>
    <% end %>
    <% if @destocking_reasons.empty? %>
      <tr data-hook="destocking_reason_none"><td colspan="4"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>