<div data-hook="admin_visual_code_type_edit_form_header">
  <h1><%= t("visual_code.edit_type") %></h1>
</div>

<%= render 'spree/shared/error_messages', :target => @visual_code_type %>

<div data-hook="admin_visual_code_type_new_form" id="admin_visual_code_type_new_form" >
  <%= form_for(:visual_code_type, :url => object_url, :html => { :method => :put }) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <%= render :partial => "spree/admin/shared/edit_resource_links" %>
  <% end %>
<div>
