
<%= render :partial => 'spree/admin/shared/warehouse_sub_menu' %>

<%= render :partial => 'spree/admin/shared/visual_code_side_menu', :locals => { :current => 'Visual Code Types' } %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_visual_code_type_link">
      <%= button_link_to t("visual_code.new_type"), new_admin_visual_code_type_path, :icon => 'add', :id => 'admin_new_visual_code_type' %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t("visual_code.types") %></h1>

<table id="visual_code_types" class="index">
  <tr>
    <th>Name</th>
    <th>Handler</th>
    <th></th>
  </tr>

<% @visual_code_types.each do |vct| %>
  <tr>
    <td><%= vct.name %></td>
    <td><%= vct.handler %></td>
    <td class="actions">
      <%= link_to_edit vct %>
      <%= link_to_delete vct %>
    </td>
  </tr>
<% end %>
</table>
