<%= render :partial => 'spree/admin/shared/warehouse_sub_menu' %>

<div data-hook="admin_warehouse_edit_form_header">
  <h1><%= t(:edit_warehouse) %></h1>
</div>

<%= render 'spree/shared/error_messages', :target => @warehouse %>

<div data-hook="admin_warehouse_edit_form" id="admin_warehouse_edit_form" >
  <%= form_for(:warehouse, :url => object_url, :html => { :method => :put }) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <div data-hook="admin_warehouse_edit_form_buttons">
      <%= render :partial => "spree/admin/shared/edit_resource_links" %>
    </div>
  <% end %>
<div>

