<%= render :partial => 'spree/admin/shared/warehouse_sub_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_warehouse_link">
      <p><%= button_link_to t(:new_warehouse), new_admin_warehouse_path, :icon => 'add', :id => 'admin_new_warehouse' %></p>
    </li>
  </ul>
  <br class="clear" />
</div>

<div data-hook="admin_warehouses_index">
  <h1><%= t(:list_warehouses) %></h1>
</div>

<table id="warehouses" class="index">
  <tr>
	<th><%= t('warehouse.name') %></th>
	<th><%= t('warehouse.code') %></th>
  <th><%= t('warehouse.container_taxonomies_count') %></th>
	<th><%= t('warehouse.location') %></th>
	<th><%= t('warehouse.details') %></th>
  <th></th>
  </tr>

  <% @warehouses.each do |wh| %>
    <tr>
      <td><%= wh.name %></td>
      <td><%= wh.code %></td>
      <td>
        <% if wh.container_taxonomies.any? %>
          <%= wh.container_taxonomies.count %>
        <% else %>
          <%= t(:no_container_taxonomies) %>
        <% end %>
      </td>
      <td><%= wh.location %></td>
      <td><%= wh.details %></td>
      <td class="actions">
        <%= link_to_edit wh %>
        <%= link_to_delete wh %>
      </td>
    </tr>
  <% end %>
</table>