<div data-hook="admin_warehouse_new_form_header">
  <h1><%= t("new_warehouse") %></h1>
</div>

<div data-hook="admin_warehouse_new_form" id="admin_warehouse_new_form" >
  <%= form_for([:admin , @warehouse]) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>

    <div data-hook="admin_warehouse_new_form_buttons">
      <p class="form-buttons">
        <%= button t("actions.create"), nil, 'submit' %>
        <%= t("or") %> <%= link_to t("actions.cancel"), admin_warehouses_path %>
      </p>
    </div>
  <% end %>
</div>
