<%= render :partial => 'spree/admin/shared/warehouse_sub_menu' %>

<div data-hook="admin_warehouse_new_form_header">
  <h1><%= t(:new_warehouse) %></h1>
</div>

<%= render 'spree/shared/error_messages', :target => @warehouse %>

<div data-hook="admin_warehouse_new_form" id="admin_warehouse_new_form" >
  <%= form_for(:warehouse, :url => admin_warehouses_url(params[:warehouse])) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <div data-hook="admin_warehouse_new_form_buttons">
      <%= render :partial => "spree/admin/shared/new_resource_links" %>
    </div>
  <% end %>
</div>