<div data-hook="admin_inside_container_taxon_form">
  <%= f.field_container :name do %>
    <%= f.label :name, t(:name) %> <span class="required">*</span><br />
    <%= error_message_on :container_taxon, :name, :class => 'fullwidth title' %>
    <%= text_field :container_taxon, :name %>
  <% end %>

  <%= f.field_container :permalink_part do %>
    <%= f.label :permalink_part, t(:permalink) %><span class="required">*</span><br />
    <%= @container_taxon.permalink.split("/")[0...-1].join("/") + "/" %><%= text_field_tag :permalink_part, @permalink_part %>
  <% end %>


  <%= f.field_container :description do %>
    <%= f.label :description, t(:description) %><br />
    <%= f.text_area :description %>
  <% end %>
</div>

<h2><%= t(:variants) %> (<%= @container_taxon.variant_container_taxons.count %>)</h2>
<table class="index">
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:sku) %></th>
    <th><%= t(:quantity) %></th>
    <th><%= t(:restocked_at) %></th>
    <th><%= t(:restocked_before) %></th>
  </tr>
  <% @container_taxon.variant_container_taxons.each do |vct| %>
   <tr>
    <td><%= vct.variant.name %></td>
    <td><%= vct.variant.sku %></td>
    <td><%= vct.quantity %></td>
    <td><%= vct.created_at %></td>
    <td><%= time_ago_in_words(vct.created_at) %></td>
   </tr>
  <% end %>
</table>