<% if @container_taxon.variant_container_taxons.any? %>
  <h2><%= t(:variants) %> (<%= @container_taxon.variant_container_taxons.count %>)</h2>
  <table class="index">
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:sku) %></th>
      <th><%= t(:quantity) %></th>
      <th><%= t(:restocked_at) %></th>
      <th><%= t(:restocked_before) %></th>
    </tr>
    <% @container_taxon.variant_container_taxons.each do |vct| %>
      <tr>
        <td><%= vct.variant.name %></td>
        <td><%= vct.variant.sku %></td>
        <td><%= vct.quantity %></td>
        <td><%= vct.created_at %></td>
        <td><%= time_ago_in_words(vct.created_at) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2><%= t(:no_variants) %></h2>
<% end %>
<br/>