

<h1><%= t(:container_taxon_edit) %></h1>

<%= form_for [:admin, @container_taxonomy, @container_taxon], :method => :put, :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p class="form-buttons" data-hook="buttons">
    <%= button t(:update) %> <%= t(:or) %> <%= link_to t(:cancel), edit_admin_container_taxonomy_url(@container_taxonomy) %>
  </p>
<% end %>