<p data-hook="visual_code"><%= f.label :visual_codes, t(:singular, :scope => :visual_code) %>: <br />

<% unless @product.has_variants? %> 

<%= visual_code_form.fields_for :code do |vc| %>
    Bar Code  : <%= vc.code.text_field :code %>
  <% end %>

  
  <%= form.fields_for :visual_codes do |vc| %>
    <%= vc.text_field :code %>
    <%= vc.label :id, t(visual_code.singular) %><br />
    
  <% end %>
  
  <span class="enter_visual_code">
<% end%>

</p>
  
  

