
<%= render :partial => 'spree/admin/shared/warehouse_sub_menu' %>

<%= render :partial => 'spree/admin/shared/visual_code_side_menu', :locals => { :current => 'Visual Codes' } %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_visual_code_link">
      <%= button_link_to t(:new, :scope => :visual_code), new_admin_visual_code_path, :icon => 'add', :id => 'admin_new_visual_code' %>
    </li>
  </ul>
  <br class="clear" />
</div>

<div data-hook="admin_visual_codes_index">
  <h1><%= t("visual_code.codes") %></h1>
</div>

<table id="visual_codes" class="index">
  <tr>
    <th><%= t("visual_code.singular") %></th>
    <th><%= t("visual_code.type") %></th>
    <th></th>
  </tr>

<% @visual_codes.each do |vc| %>
  <tr>
    <td><%= vc.code %></td>
    <td><%= vc.type.name %></td>
    <td class="actions">
      <%= link_to_edit vc %>
      <%= link_to_delete vc %>
    </td>
  </tr>
<% end %>
</table>
