
<%= render :partial => 'spree/admin/shared/warehouse_sub_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_visual_code_link">
      <%= button_link_to t("visual_code.new"), new_admin_visual_code_type_path, :icon => 'add', :id => 'admin_new_visual_code' %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t("visual_code.codes") %></h1>

<table id="visual_codes" class="index">
  <tr>
    <th><%= t("visual_code.singular") %></th>
    <th><%= t("visual_code.type") %></th>
    <th></th>
  </tr>

<% @visual_codes.each do |vc| %>
  <tr>
    <td><%= vc.code %></td>
    <td><%= vc.type %></td>
    <td class="actions">
      <%= link_to_edit ct %>
      <%= link_to_delete ct %>
    </td>
  </tr>
<% end %>
</table>
