<%= render :partial => 'spree/admin/shared/warehouse_sub_menu' %>

<div data-hook="admin_visual_code_form_header">
  <h1><%= t("visual_code.new") %></h1>
</div>

<%= render 'spree/shared/error_messages', :target => @visual_code %>

<div data-hook="admin_visual_code_new_form" id="admin_visual_code_edit_form" >
  <%= form_for(:visual_code, :url => admin_visual_code_types_url(params[:visual_code])) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <div data-hook="admin_visual_code_new_form_buttons">
      <%= render :partial => "spree/admin/shared/new_resource_links" %>
    </div>
  <% end %>
</div>
