<% content_for :sidebar do %>
  <h1><%= t("visual_code.system") %></h1>

  <br class="clear" />

  <ul class="sidebar visual-code-menu" data-hook="admin_visual_code_tabs">
    <li<%== ' class="active"' if current == 'Visual Codes' %>>
      <%= link_to t("visual_code.codes"), admin_visual_codes_path %>
    </li>
    <li<%== ' class="active"' if current == 'Visual Code Types' %>>
      <%= link_to t("visual_code.types"), admin_visual_code_types_path %>
    </li>
  </ul>
  <br class="clear" />

<% end %>

